@mixin flexible_row(){
    display: flex;
    flex-direction: row;
}
@mixin flexible_col(){
    display: flex;
    flex-direction:column;
}
@mixin row_cent(){
    margin-left:auto;
    margin-right: auto;
}
@mixin line(){
    border:none;
    padding: 0;
    margin:0;
    height:0;
    margin:20px 0;
    border-top:2px dashed grey;
}
$maintext:whitesmoke;
$headtext: lightgreen;
$bgcolor:#332F2C;
$contbgcolor:#123;
body {
    padding:0;
    margin:0;
    background-color:$bgcolor;
    min-width: 800px;
}


//for pc
@media screen and (orientation:landscape){
    .main{
        width:80%;
        margin-left: auto;
        margin-right: auto;
    }
    //header start
    header{
        width:100%;
        height:70px;
        background-color: $contbgcolor;
        border-radius: 10px 10px 30px 30px;
        @include flexible_row();
        justify-content: space-around;
        align-items: center;
    }
    .logo_cont{
        @include flexible_row;
        justify-content: space-between;
        width:300px;
    }
    .logo_nav{
        width:40%;
        margin-left: 10%;
        margin-top: 12px;
    }
    .change_language_but{
        border-color:$headtext;
        background-color: $contbgcolor;
        width:100px;
        height: 50px;
        color:$headtext;
        border-radius: 20px;
        cursor: pointer;
    }
    .menu{
        width: 50%;
        @include flexible_row();
        justify-content: space-around;
        
    }
    .header_text{
        color:$headtext;
        text-decoration: none;
    }
    //header end

    .wel_con{
        width:100%;
        background-color:$contbgcolor;
        border-radius:30px;
        margin-top: 10px;
    }
    .wellcome{
        width:60%;
        @include row_cent();
        @include flexible_row();
        justify-content: space-between;
    }
    .h1_main{
        color:$maintext;
        margin-top: 100px;
        font-size: 50px;
    }
    .h1_main1{
        color:$maintext;
        font-size: 30px;
    }
    .h1_stat{
        color:$maintext;
    }
    .comment{
        color:grey;
        text-decoration: none;
    }

    //filters start
    .filters_con{
        width:100%;
        height: 110px;
        background-color:#123;
        border-radius:30px;
        border:solid $headtext;
    }
    .filters{
        @include flexible_row();
        justify-content: space-around   ;
        align-items: center;
        width:70%;
        @include row_cent();
    }
    .filt_input{
        width:70%;
        height:50px;
        border:solid $headtext;
        border-radius:30px 0px 0px 30px;
        background-color:$contbgcolor;
        color:$maintext;
        font-size: large;
    }
    .find_but{
        border-radius:0px 30px 30px 0px;
        border:solid $headtext;
        background-color:$contbgcolor;
        height:57px;
        color:$headtext;
        cursor: pointer;
    }
    .selector{
        width:100%;
        height:40px;
        border:solid $headtext;
        border-radius:15px 15px 0px 0px;
        background-color:$contbgcolor;
        color:$maintext;
        font-size: large;
    }
    .option{
        border:solid $headtext;
        border-radius:30px
    }
    //filters end
    //content start
    .stat_con{
        width:100%;
        background-color:$contbgcolor;
        border-radius:30px;
        margin-top: 20px;
    }
    .stat{
        @include flexible_row();
        justify-content: space-between;
        width:80%;
        @include row_cent();
        background-color:$contbgcolor;
    }
    .stat_pic{
        width:200px;
    }
    //content end
    }





//for phones
@media screen and (orientation:portrait){
    //header start
    header{
        width:100%;
        height:300px;
        background-color: $contbgcolor;
        border-radius: 10px 10px 30px 30px;
        @include flexible_col();
        justify-content: space-between;
        align-items: center;
    }
    .logo_cont{
        margin-top: 10px;
        @include flexible_row;
        justify-content: space-evenly;
        align-items:center;
        width:100%;
    }
    .logo_nav{
        width:40%;
        margin-left: 10%;
    }
    .change_language_but{
        border-color:$headtext;
        background-color: $contbgcolor;
        width:100px;
        height: 100px;
        color:$headtext;
        border-radius: 20px;
        cursor: pointer;
        font-size: 50px;
    }
    .menu{
        width: 100%;
        height: 100px;
        @include flexible_row();
        justify-content: space-around;
        
    }
    .header_text{
        color:$headtext;
        text-decoration: none;
        font-size: 50px;
    }
    //header end
    //wellcome div start
    .wel_con{
        width:100%;
        background-color:$contbgcolor;
        border-radius:30px;
        margin-top: 10px;
        height: 1000px;
    }
    .wellcome{
        width:80%;
        @include row_cent();
        @include flexible_col();
        justify-content: space-between;
        align-items: center;
    }
    .h1_main{
        color:$maintext;
        margin-top: 100px;
        font-size: 100px;
        @include row_cent();
    }
    .h1_main1{
        color:$maintext;
        font-size: 50px;
        @include row_cent();
    }
    .h1_stat{
        color:$maintext;
        @include row_cent();
        font-size: 50px;
    }
    .comment{
        color:grey;
        text-decoration: none;
        font-size: 30px;
    }
    //wellcome div end
    //filters start
    .filters_con{
        width:100%;
        height: 500px;
        background-color:#123;
        border-radius:30px;
        border:solid $headtext;
    }
    .filters{
        @include flexible_col();
        justify-content: space-around   ;
        align-items: center;
        width:95%;
        @include row_cent();
        margin-top: 10px;
    }
    .filt_con{
        width:100%;
        height: 150px;
    }
    .filt_input{
        width:75%;
        height:100px;
        border:solid $headtext;
        border-radius:30px 0px 0px 30px;
        background-color:$contbgcolor;
        color:$maintext;
        font-size: 50px;
        margin-left: 10px;
    }
    .find_but{
        border-radius:0px 30px 30px 0px;
        border:solid $headtext;
        background-color:$contbgcolor;
        height:100px;
        width:20%;
        color:$headtext;
        cursor: pointer;
        font-size: 50px;
    }
    .selector{
        width:100%;
        height:100px;
        border:solid $headtext;
        border-radius:15px 15px 0px 0px;
        background-color:$contbgcolor;
        color:$maintext;
        font-size: 40px;
    }
    //filters end
    //content start
    .stat_con{
        width:100%;
        background-color:$contbgcolor;
        border-radius:30px;
        margin-top: 20px;
    }
    .stat{
        @include flexible_col();
        justify-content: space-between;
        width:95%;
        @include row_cent();
        background-color:$contbgcolor;
        align-items:center;
    }
    .stat_pic{
        width:500px;
    }
    //content end
}
//header start
/*header{
    width:100%;
    height:70px;
    background-color: $contbgcolor;
    border-radius: 10px 10px 30px 30px;
    @include flexible_row();
    justify-content: space-around;
    align-items: center;
}
.logo_nav{
    width:40%;
    margin-left: 10%;
}
.change_language_but{
    border-color:$hedtext;
    background-color: $contbgcolor;
    width:100px;
    height: 50px;
    color:$hedtext;
    border-radius: 20px;
    cursor: pointer;
}
.menu{
    width: 50%;
    @include flexible_row();
    justify-content: space-around;
    
}
.header_text{
    color:$hedtext;
    text-decoration: none;
}*/
//header end
.big_pic{
    @media screen and (orientation:landscape){
        width:500px;
    }
    @media screen and (orientation:portrait){
        width:300px;
        height: 300px;
        margin-top: 50px;
    }
    @media screen and (max-width:1080px)and (orientation:landscape){
        width:350px;
        height: 350px;
        margin-top: 50px;
    }
    @media screen and (max-width:880px)and (orientation:landscape){
        width:200px;
        height: 200px;
        margin-top: 150px;
        @include row_cent();
    }
}



//footer start
footer{
    background-color: $contbgcolor;
    height:100px;
    @include flexible_row();
    justify-content: space-around;
    align-items:center;
    border-radius:20px 20px 0px 0px;
}

//other
.line{
    @include line();
}